.about-programm__wrapper {
  min-height: 400px;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.about-programm__title {
  margin: 0;
  margin-top: 20px;
  font-family: $title-font;

  @include text-size(36px, 40px, 400);
}

.about-programm__list {
  margin: 0;
  padding: 0;
  margin-top: 41px;
  list-style: none;
}

.about-programm__item {
  position: relative;
  margin-top: 26px;
  padding-left: 80px;
  font-family: $main-font;
  color: $color-text-description;

  @include text-size(14px, 18px, 400);

  &::before {
    position: absolute;
    content: "";
    top: -1px;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $color-bg-img;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
  }

  &--healthy {
    &::after {
      transform: translate(15px, 13px);
      width: 30px;
      height: 32px;
      background-image: url("../img/leaf-mob.svg");
    }
  }

  &--powder {
    &::after {
      transform: translate(15px, 13px);
      width: 29px;
      height: 31px;
      background-image: url("../img/powder-mob.svg");
    }
  }

  &--meal {
    &::after {
      transform: translate(17px, 13px);
      width: 25px;
      height: 30px;
      background-image: url("../img/meal-mob.svg");
    }
  }

  &--changes {
    &::after {
      transform: translate(15px, 13px);
      width: 32px;
      height: 33px;
      background-image: url("../img/changes-mob.svg");
    }
  }
}

.about-programm__description {
  min-height: 54px;
  margin: 0;
  padding: 0;
}

.about-programm__number {
  display: none;
}


@media (min-width: $tablet-width) {
  .about-programm__wrapper {
    width: 708px;
    min-height: 736px;
    border-bottom: 1px solid #e6e6e6;
  }

  .about-programm__title {
    margin-top: 45px;

    @include text-size(60px, 60px, 400);
  }

  .about-programm__list {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 280px 280px;
    row-gap: 37px;
    column-gap: 138px;
  }

  .about-programm__item {
    margin: 0;
    padding: 0;
    padding-top: 152px;

    @include text-size(16px, 24px, 400);

    &::before {
      top: 42px;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &--healthy {
      &::after {
        transform: translate(24px, 68px);
      }
    }

    &--powder {
      &::before {
        left: 1px;
      }

      &::after {
        transform: translate(26px, 66px);
      }
    }

    &--meal {
      &::after {
        transform: translate(27px, 66px);
      }
    }

    &--changes {
      &::before {
        left: 1px;
      }

      &::after {
        transform: translate(25px, 65px);
      }
    }
  }

  .about-programm__description {
    min-height: 72px;
    min-width: 245px;
  }


  .about-programm__number {
    display: block;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    font-family: $title-font;
    color: $color-text-bg;
    z-index: -1;

    @include text-size(280px, 280px, 400);
  }
}

@media (min-width: $desktop-width) {
  .about-programm__wrapper {
    width: 1220px;
    margin-top: 71px;
    min-height: 372px;
    border: none;
  }

  .about-programm__list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 280px;
    column-gap: 80px;
  }

  .about-programm__item {
    margin: 0;
    padding: 0;
    padding-top: 148px;

    @include text-size(16px, 24px, 400);

    &::before {
      top: 37px;
      left: -1px;
      width: 80px;
      height: 80px;
    }

    &--healthy {
      &::after {
        transform: translate(24px, 60px);
      }
    }

    &--powder {
      &::before {
        left: 0;
      }

      &::after {
        transform: translate(25px, 62px);
      }
    }

    &--meal {
      &::after {
        transform: translate(28px, 63px);
      }
    }

    &--changes {
      &::before {
        left: 0;
      }

      &::after {
        transform: translate(25px, 60px);
      }
    }
  }
}
