.about-programm__wrapper {
  width: 280px;
  margin: 0 auto;
}

.about-programm__title {
  font-family: $title-font;

  @include text-size(36px, 40px, 400);
}

.about-programm__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-programm__item {
  font-family: $main-font;
  color: $color-text-description;

  @include text-size(14px, 18px, 400);
}

@media (min-width: $tablet-width) {
  .about-programm__wrapper {
    width: 708px;
  }

  .about-programm__title {
    @include text-size(60px, 60px, 400);
  }

  .about-programm__list {
    display: grid;
    grid-template-columns: 245px 245px;
    grid-template-rows: 280px 280px;
    row-gap: 37px;
    column-gap: 138px;
  }

  .about-programm__item {
    @include text-size(16px, 24px, 400);
  }
}

@media (min-width: $desktop-width) {
  .about-programm__wrapper {
    width: 1220px;
  }

  .about-programm__list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 280px;
    column-gap: 80px;
  }
}
