.additional-product__title {
  font-family: $title-font;
  color: $color-text-title-card;
  text-transform: uppercase;

  @include text-size(16px, 16px, 400);
}

.additional-product__description-list {
  display: flex;
  justify-content: space-between;
  font-family: $main-font;
  color: $color-text-description;

  @include text-size(14px, 14px, 400);
}

@media (min-width: $tablet-width) {
  .additional-product__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .additional-product__title {
    @include text-size(20px, 20px, 400);
  }

  .additional-product__description-list {
    @include text-size(16px, 20px, 400);
  }

  .additional-product__button {
    width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    display: flex;
    justify-content: space-between;
    width: 896px;
  }

  .additional-product__wrapper {
    width: 612px;
  }

  .additional-product__description-list {
    width: 288px;
  }

  .additional-product__button {
    width: 244px;
  }
}
