.address {
  display: flex;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

.address__title {
  width: 139px;
  margin: 0;
  font-family: $title-font;
  color: $color-text-title-map;
  text-transform: uppercase;

  @include text-size(16px, 20px, 400);
}

.address__text {
  width: 139px;
  margin: 0;
  font-family: $main-font;
  color: $color-text-description;

  @include text-size(14px, 20px, 400);
}

@media (min-width: $tablet-width) {
  .address {
    width: 628px;
  }

  .address__title {
    width: 172px;

    @include text-size(20px, 26px, 400);
  }

  .address__text {
    width: 162px;
    text-align: end;

    @include text-size(16px, 20px, 400);
  }
}

@media (min-width: $desktop-width) {
  .address {
    width: 565px;
    background-color: $color-bg-main;
  }

  .address__title {
    width: 163px;
  }

  .address__text {
    width: 155px;
    text-align: start;
  }
}
