.button {
  min-height: 40px;
  display: block;
  padding: 10px 44px;
  background-color: $color-bg-btn;
  font-family: $title-font;
  color: $color-text-second;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  @include text-size(14px, 18px, 400);

  &:hover {
    background-color: $color-bg-btn-hover;
  }

  &:active {
    background-color: $color-bg-btn-hover;
    color: rgb(255, 255, 255, 0.3);
  }
}

.button--primary {
  @include text-size(16px, 20px, 400);
}

.button--secondary {
  background-color: $color-bg-second;
  color: $color-text-description;

  @include text-size(16px, 20px, 400);
}

@media (min-width: $tablet-width) {
  .button {
    width: 244px;
    padding: 17px 26px;

    @include text-size(20px, 20px, 400);
  }
}
