.cards-item {
  min-height: 266px;
  padding-top: 30px;
  padding-bottom: 18px;
  background-color: $color-bg-second;
}

.cards-item__title {
  position: relative;
  margin: 0;
  padding-left: 91px;
  font-family: $title-font;
  color: $color-text;
  text-transform: uppercase;

  @include text-size(24px, 37px, 400);
}

.cards-item__title--slim::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 53px;
  top: 50%;
  transform: translateY(-50%);
  left: 22px;
  background-image: url("../img/cat_slim-mob.svg");
}

.cards-item__title--pro::before {
  position: absolute;
  content: "";
  width: 67px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  background-image: url("../img/cat_pro-mob.svg");
}

.cards-item__description {
  margin: 0 20px;
  margin-bottom: 15px;
  padding-top: 29px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  font-family: $main-font;
  color: $color-text-description;

  @include text-size(14px, 18px, 400);
}

.cards-item__link {
  position: relative;
  display: block;
  width: 134px;
  min-height: 24px;
  margin: 0 20px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 47px;
  font-family: $title-font;
  color: $color-text;
  text-decoration: none;
  text-transform: uppercase;

  @include text-size(16px, 16px, 400);

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    width: 24px;
    height: 12px;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
  }

  &:hover,
  &:active {
    &::after {
      content: "";
      position: absolute;
      right: 2px;
      width: 32px;
      background-image: url("../img/arrow-hover.svg");
      background-repeat: no-repeat;
    }
  }

  &:active {
    opacity: 0.6;
  }
}


@media (min-width: $tablet-width) {
  .cards-item {
    min-height: 372px;
    padding-top: 79px;
    padding-bottom: 18px;
  }

  .cards-item__title {
    padding-left: 51px;
    padding-right: 316px;

    @include text-size(36px, 36px, 400);
  }

  .cards-item__title--slim::before {
    width: 200px;
    height: 211px;
    top: 50%;
    transform: translateY(-8%);
    left: 446px;
    background-image: url("../img/cat_slim-tab.svg");
  }

  .cards-item__title--pro::before {
    width: 268px;
    height: 200px;
    top: 50%;
    transform: translateY(-3%);
    left: 412px;
    background-image: url("../img/cat_pro-tab.svg");
  }

  .cards-item__description {
    margin: 0;
    margin-bottom: 48px;
    padding: 24px 316px 0 52px;
    border: none;
    color: $color-text;

    @include text-size(16px, 24px, 400);
  }

  .cards-item__link {
    width: 167px;
    margin-left: 52px;
    padding-right: 57px;
    margin-top: 1px;

    @include text-size(20px, 30px, 400);
  }
}

@media (min-width: $desktop-width) {
  .cards-item {
    width: 570px;
    min-height: 374px;
    padding-top: 77px;
  }

  .cards-item__title {
    padding-left: 214px;
    padding-right: 0;
  }

  .cards-item__title--slim::before {
    width: 100px;
    height: 106px;
    top: 50%;
    transform: translateY(-50%);
    left: 52px;
    background-image: url("../img/cat_slim-desk.svg");
  }

  .cards-item__title--pro::before {
    width: 134px;
    height: 100px;
    top: 50%;
    transform: translateY(-50%);
    left: 33px;
    background-image: url("../img/cat_pro-desk.svg");
  }

  .cards-item__description {
    padding: 73px 52px 0 52px;
    margin-bottom: 23px;
  }

  .cards-item__link {
    padding-right: 60px;
  }
}
