.cat-nutrition {
  min-height: 302px;
  background-image: url("../img/index-background-mob.jpg");
  background-color: $color-bg-img;
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: center;
  object-fit: contain;
}

.cat-nutrition__wrapper {
  width: 280px;
  margin: 0 auto;
}

.cat-nutrition__title {
  font-family: $title-font;
  color: $color-text-second;
  text-align: center;

  @include text-size(36px, 36px, 400);
}

.cat-nutrition__description {
  font-family: $title-font;
  color: $color-text-second;
  text-transform: uppercase;
  text-align: center;

  @include text-size(14px, 14px, 400);
}


@media (min-width: $tablet-width) {
  .cat-nutrition {
    background-image: none;
    background-color: $color-bg-main;
  }

  .cat-nutrition__wrapper {
    width: 534px;
  }

  .cat-nutrition__title {
    color: $color-text;
    text-align: start;

    @include text-size(60px, 60px, 400);
  }

  .cat-nutrition__description {
    color: $color-text;
    text-align: start;

    @include text-size(20px, 20px, 400);
  }
}

@media (min-width: $desktop-width) {
  .cat-nutrition__wrapper {
    width: 1060px;
  }
}
