.cat-nutrition {
  min-height: 302px;
  background-image: url("../img/index-can-mobile.png"), url("../img/index-background-mob.jpg");
  background-color: none, $color-bg-img;
  background-repeat: no-repeat, no-repeat;
  background-size: 280px 270px, 320px 302px;
  background-position: center 166px, center 0;
  object-fit: cover;
}

.cat-nutrition__wrapper {
  width: 280px;
  margin: 0 auto;
}

.cat-nutrition__title {
  margin: 0;
  padding-top: 27px;
  font-family: $title-font;
  color: $color-text-second;
  text-align: center;

  @include text-size(36px, 36px, 400);
}

.cat-nutrition__description {
  margin-top: 25px;
  font-family: $title-font;
  color: $color-text-second;
  text-transform: uppercase;
  text-align: center;

  @include text-size(14px, 14px, 400);
}

.cat-nutrition__button {
  margin-top: 302px;
}

@media (min-width: $tablet-width) {
  .cat-nutrition {
    min-height: 872px;
    background-image: url("../img/index-can-tablet.jpg");
    background-color: $color-bg-main;
    background-size: 709px 609px;
    background-position: center bottom;
  }

  .cat-nutrition__wrapper {
    width: 534px;
  }

  .cat-nutrition__title {
    padding-top: 62px;
    color: $color-text;
    text-align: start;

    @include text-size(60px, 60px, 400);
  }

  .cat-nutrition__description {
    margin-top: 41px;
    color: $color-text;
    text-align: start;

    @include text-size(20px, 20px, 400);
  }

  .cat-nutrition__button {
    min-height: 54px;
    margin-top: 49px;
    padding: 17px 26px;
  }
}

@media (min-width: $desktop-width) {
  .cat-nutrition {
    position: relative;
    min-height: 585px;
    background-image: url("../img/index-can-desk.png");
    background-repeat: no-repeat;
    background-size: 552px 499px;
    background-position: 558px 29px;
    background-color: transparent;
    object-fit: contain;
    z-index: 2;
  }

  .cat-nutrition__wrapper {
    width: 1060px;
  }

  .cat-nutrition__title {
    padding-top: 111px;
  }

  .cat-nutrition__description {
    margin-top: 40px;
  }
}
