.example {
  background-color: $color-bg-second;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
}

.example__title {
  font-family: $title-font;
  color: $color-text;

  @include text-size(36px, 40px, 400);
}

.example__description {
  font-family: $main-font;
  color: $color-text-description;

  @include text-size(14px, 18px, 400);
}

.example__stats-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.example__stats-item {
  width: 124px;
}

.example__stats-item-value {
  font-family: $title-font;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;

  @include text-size(24px, 24px, 400);
}

.example__stats-item-description {
  font-family: $main-font;
  color: $color-text-description;
  text-transform: lowercase;
  text-align: center;

  @include text-size(12px, 12px, 400);
}

.example__stats-description {
  font-family: $title-font;
  color: $color-text;
  text-transform: uppercase;
  text-align: center;

  @include text-size(14px, 20px, 400);
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    width: 708px;
  }

  .example__title {
    @include text-size(60px, 60px, 400);
  }

  .example__description {
    @include text-size(16px, 24px, 400);
  }

  .example__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .example__stats-list {
    width: 366px;
    justify-content: space-between;
  }

  .example__stats-item {
    width: 162px;
  }

  .example__stats-item-value {
    @include text-size(30px, 37px, 400);
  }

  .example__stats-item-description {
    @include text-size(14px, 14px, 400);
  }

  .example__stats-description {
    width: 174px;
    text-align: end;

    @include text-size(20px, 20px, 400);
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 1220px;
    min-height: 576px;
    display: grid;
    grid-template-columns: 592px 592px;
    column-gap: 38px;
  }

  .example__stats {
    flex-direction: column;
  }

  .example__stats-description {
    width: 327px;
    text-align: start;
  }
}
