.main-footer {
  background-color: $color-bg-second;
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    width: 708px;
  }

  .main-footer__contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    width: 1220px;
  }
}
