.main-header {
  position: relative;
  min-height: 66px;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
}

.main-header__logo {
  margin-left: 20px;
  margin-top: 10px;
  height: 56px;
}

@media (min-width: $tablet-width) {
  .main-header {
    flex-direction: row;
    justify-content: space-between;
    width: 708px;
  }

  // добавил высоту и ширину лого для наглядности
  .main-header__logo {
    margin-top: 24px;
    width: 174px;
    height: 52px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-header {
    position: relative;
    width: 1220px;

    &::after {
      content: "";
      position: absolute;
      width: 720px;
      height: 694px;
      top: 0;
      left: 50%;
      background-image: url("../img/index-background-desk.jpg");
      background-color: $color-bg-img;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: 720px 694px;
      z-index: 1;
    }
  }

  // добавил высоту и ширину лого для наглядности
  .main-header__logo {
    margin-top: 53px;
    width: 202px;
    height: 59px;
  }
}
