.map {
  position: relative;
  margin: 0;
  padding: 0;
}

.map__address {
  margin-top: 26px;
  margin-bottom: 26px;
}

.map__frame {
  display: block;
  width: 100%;
  height: 360px;
  margin: 0;
  border: none;
  background-image: url("../img/map-index.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 320px 362px;
  background-color: $color-bg-second;
}

@media (min-width: $tablet-width) {
  .map__address {
    margin-top: 64px;
    margin-bottom: 56px;
  }

  .map__frame {
    height: 400px;
    background-image: url("../img/map-tablet.png");
    background-size: 768px 400px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
  }

  .map__address {
    position: absolute;
    top: 30px;
    left: 0;
    width: 565px;
    min-height: 198px;
    padding: 60px 80px;
  }

  .map__frame {
    background-image: url("../img/map-desktop.png");
    background-size: 1440px 400px;
  }
}
