.map {
  position: relative;
  margin: 0;
  padding: 0;
}

.map__address {
  margin-top: 30px;
  margin-bottom: 26px;
}

.map__frame {
  display: block;
  width: 100%;
  height: 360px;
  margin: 0;
  border: none;
}

@media (min-width: $tablet-width) {
  .map__address {
    margin-top: 61px;
    margin-bottom: 56px;
  }

  .map__frame {
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .map__wrapper {
    width: 1220px;
    margin: 0 auto;
    position: relative;
  }

  .map__address {
    position: absolute;
    top: 34px;
    left: 0;
    width: 565px;
    min-height: 198px;
    padding: 56px 80px;
  }
}
