.product-card {
  width: 100%;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
}

.product-card__container {
  width: 280px;
  min-height: 207px;
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 9px;
  display: grid;
  grid-template-columns: 140px 140px;

  &--more {
    display: flex;
    flex-direction: column;
  }
}

.product-card__link {
  text-decoration: none;
}

.product-card__link-image {
  width: 140px;
  height: 112px;
  text-align: center;
}

.product-card__image {
  margin-top: 23px;

  &--big {
    margin-top: 20px;
  }

  &--small {
    margin-top: 38px;
  }
}

.product-card__title {
  margin: 0;
  margin-top: 11px;
  font-family: $title-font;
  color: $color-text-title-card;
  text-transform: uppercase;
  width: 76px;

  @include text-size(16px, 20px, 400);

  &--more {
    position: relative;
    color: $color-text-title-map;
    width: 280px;
    text-align: center;
    padding-top: 58px;

    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      top: 18px;
      left: 125px;
      background-color: #d3d3d3;
    }

    &::after {
      transform: rotate(90deg);
    }
  }
}

.product-card__list {
  margin-top: 14px;
  margin-bottom: 9px;
}

.product-card__description-list {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.product-card__description-list-name,
.product-card__description-list-value {
  margin-top: 0;
  font-family: $main-font;
  color: $color-text-description;

  @include text-size(12px, 16px, 400);
}

.product-card__button {
  grid-column: 1/-1;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-bottom: 10px;

  @include text-size(16px, 20px, 400);

  &--secondary {
    margin-top: 10px;
    margin-bottom: 14px;
  }
}

.product-card__description {
  font-family: $main-font;
  color: $color-text-description;
  text-align: center;

  @include text-size(12px, 16px, 400);

  &--more {
    margin-top: 7px;
  }
}

@media (min-width: $tablet-width) {
  .product-card {
    border: none;
  }

  .product-card__container {
    width: 324px;
    min-height: 511px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#ffffff 81px, #f2f2f2 81px);

    &--more {
      min-height: 429px;
      margin-top: 81px;
      border: 2px solid #f2f2f2;
      background: transparent;
    }
  }

  .product-card__link-image {
    width: 168px;
    height: 200px;
    margin-bottom: 10px;
  }

  .product-card__image {
    margin-top: 28px;

    &--big {
      margin-top: 0;
    }

    &--small {
      margin-top: 26px;
    }
  }

  .product-card__title {
    width: 150px;
    margin-top: 24px;
    margin-left: 52px;
    text-align: center;

    @include text-size(20px, 24px, 400);

    &--more {
      margin: 0 auto;
      padding-top: 152px;

      @include text-size(20px, 22px, 400);

      &::before,
      &::after {
        width: 60px;
        top: 71px;
        left: 46px;
      }
    }
  }

  .product-card__list {
    margin-top: 16px;
  }

  .product-card__description-list {
    width: 250px;
    padding-top: 5px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }

  .product-card__description-list-name,
  .product-card__description-list-value {
    @include text-size(16px, 16px, 400);
  }

  .product-card__description {
    width: 167px;

    @include text-size(16px, 18px, 400);

    &--more {
      margin-top: 23px;
    }
  }

  .product-card__button {
    width: 248px;
    min-height: 40px;
    margin-top: 24px;
    padding-top: 10px;
    padding-bottom: 10px;

    &--secondary {
      margin-top: 71px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-card__container {
    width: 245px;

    &--more {
      min-height: 431px;
    }
  }

  .product-card__link-image {
    width: 172px;
    height: 196px;
    margin-bottom: 14px;
  }

  .product-card__image {
    margin-top: 24px;

    &--big {
      margin-top: -4px;
    }

    &--small {
      margin-top: 22px;
    }
  }

  .product-card__image-big {
    margin-top: -4px;
  }

  .product-card__title {
    margin-top: 28px;
    margin-left: 18px;

    @include text-size(20px, 21px, 400);

    &--more {
      margin: 0 auto;
      padding-top: 152px;

      @include text-size(20px, 22px, 400);

      &::before,
      &::after {
        top: 73px;
      }
    }
  }

  .product-card__list {
    margin-top: 20px;
    margin-left: 10px;
  }

  .product-card__description-list {
    width: 169px;
    margin-right: 5px;
  }

  .product-card__button {
    width: 168px;
  }
}
