.product-more-gift {
  min-height: 290px;
  background-image: url("../img/gift-bg.jpg");
  background-color: $color-bg-img;
  background-repeat: no-repeat;
  background-size: 280px 290px;
}

.product-more-gift__description {
  text-align: center;
  font-family: $main-font;
  color: $color-text-second;

  @include text-size(16px, 20px, 400);
}

@media (min-width: $tablet-width) {
  .product-more-gift {
    width: 708px;
    min-height: 200px;
    background-size: cover;
    background-position: center;
  }
}

@media (min-width: $desktop-width) {
  .product-more-gift {
    width: 245px;
    min-height: 289px;
    background-position: center;
  }
}
