.product-more-gift {
  min-height: 290px;
  background-image: url("../img/gift-bg.jpg");
  background-color: $color-bg-img;
  background-repeat: no-repeat;
  background-size: 280px 290px;
}

.product-more-gift__description {
  position: relative;
  margin: 0;
  padding-top: 187px;
  text-align: center;
  font-family: $main-font;
  color: $color-text-second;

  @include text-size(16px, 20px, 400);

  &::before {
    content: "";
    position: absolute;
    top: 58px;
    left: 101px;
    width: 78px;
    height: 80px;
    background-image: url("../img/icon_gift.svg");
  }
}

@media (min-width: $tablet-width) {
  .product-more-gift {
    width: 708px;
    min-height: 200px;
    background-size: cover;
    background-position: 0 -325px;
  }

  .product-more-gift__description {
    padding-top: 71px;
    text-align: start;
    padding-left: 422px;

    &::before {
      left: 78px;
    }
  }
}

@media (min-width: $desktop-width) {
  .product-more-gift {
    width: 245px;
    min-height: 289px;
    background-position: center;
  }

  .product-more-gift__description {
    padding-top: 185px;
    padding-left: 0;
    text-align: center;

    &::before {
      left: 85px;
    }
  }
}
