.programm-cards__wrapper {
  width: 280px;
  margin: 0 auto;
}

.programm-cards__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.programm-cards__item {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .programm-cards__wrapper {
    width: 708px;
  }

  .programm-cards__item {
    margin: 0;

    &--pro {
      margin-top: 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .programm-cards__wrapper {
    width: 1220px;
  }

  .programm-cards__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .programm-cards__item {
    margin-top: 79px;
  }
}
