.section-form__text {
  font-family: $main-font;
  text-align: center;

  @include text-size(14px, 16px, 400);
}

@media (min-width: $tablet-width) {
  .section-form__text {
    text-align: start;

    @include text-size(16px, 16px, 400);
  }
}
