.slider__toggles {
  text-align: center;
}

.slider__toggle {
  font-family: $title-font;
  color: $color-text;
  text-transform: uppercase;

  @include text-size(16px, 20px, 400);
}

@media (min-width: $tablet-width) {
  .slider__image {
    display: block;
    width: 592px;
    height: 511px;
    margin: 0 auto;
  }

  .slider__toggle {
    @include text-size(20px, 30px, 400);
  }
 }

//  @media (min-width: $desktop-width) {

// }
