//colors
$color-bg-main: #ffffff;
$color-bg-second: #f2f2f2;
$color-bg-img: #63a73a;
$color-bg-btn: #68b738;
$color-bg-btn-hover: #5eaa2f;
$color-bg-btn-second: #f2f2f2;
$color-bg-btn-second-hover: #ebebeb;
$color-text: #000000;
$color-text-second: #ffffff;
$color-text-description: #444444;
$color-text-title-map: #111111;
$color-text-title-card: #222222;
$color-text-bg: #f2f2f2;
$color-border: #cdcdcd;
$color-border-hover: #e7e7e7;
$color-border-focus: #444444;
$color-border-error: #ff8282;

//fonts
$main-font: "Arial", sans-serif;
$title-font: "Oswald", "Arial", sans-serif;

//Viewports
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
